@inherits LayoutComponentBase

<div class="h-full flex">
    <div class="sidebar col-span-2 sm:w-64 sm:h-screen sm:sticky sm:top-0 border-r border-accent bg-secondary" data-permanent>
        <NavMenu />
    </div>

    <main class="flex flex-1 flex-col overflow-hidden">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
