@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-full flex flex-col items-center justify-center">
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl pb-4">Welcome</h1>
    
    <button onclick="showModel('add-board-dialog')" class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-10 rounded-md px-8">Get Started</button>
</div>
