@inject ILogger<AddColumnDialog> Logger
@namespace BoardComponent
@rendermode InteractiveServer

<dialog id="add-column-dialog">
     <p>Add New Column</p>
    <div>
        <AntiforgeryToken />
        <input type="hidden" name="Model.Type" value="column"/>
        <input type="text"/>
        <input type="color"/>

        <button value="cancel" formmethod="dialog">Cancel</button>
        <button @onclick="AddColumn">OK</button>
    </div>
</dialog>

@code {
    private void AddColumn(){
        Logger.LogInformation("Hello From Dialog");
    }
}