@namespace BoardComponent

<dialog id="add-column-dialog">
     <p>Add New Column</p>
    <div>
        <AntiforgeryToken />
        <input type="hidden" name="Model.Type" value="column"/>
        <input type="text"/>
        <input type="color"/>

        <button value="cancel" formmethod="dialog">Cancel</button>
        <button>OK</button>
    </div>
</dialog>

<button class="rounded-lg border bg-card text-card-foreground shadow-sm hover:shadow-md w-96 min-w-96" onclick="document.getElementById('add-task-dialog').showModal()">+New Column</button>

@code {

}